/* Main Container */
.about-content{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:100px 8%;
    padding-bottom:100px;
    gap:60px;
    height:100vh;
    width:100%;
}

/* Left Image */
.left img{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:20px;
    border:3px solid #00ffcc;
    box-shadow:0 15px 35px rgba(0, 255, 204, 0.3);
    transition:0.3s ease;
}

.left img:hover{
    transform:scale(1.05);
}

/* Card */
.card{
    background:rgba(255, 255, 255, 0.05);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.2);
    padding:35px;
    border-radius:20px;
    width:100%;
    max-width:90%;
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

/* Headings */
.right .card h1{
   color:#00ffcc;
   font-size:32px;
   margin-bottom:10px;
}

.right .card h3{
   color:#ffd700;
   font-size:22px;
   margin-bottom:20px;
}

.right .card h2{
   color:#00ffcc;
   font-size:16px;
   margin-bottom:12px;
   font-weight:500;
}

.right .card span{
    color:#ffffff;
    margin-left:8px;
    font-weight:400;
}

/* Paragraph */
.right .card p{
    color:#ddd;
    line-height:1.6;
    font-size:14px;
    margin-bottom:25px;
}

/* Button */
.right .card button{
    padding:12px 25px;
    background:#00ffcc;
    color:#000;
    border:none;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
}

.right .card button:hover{
    background:#ffd700;
    transform:translateY(-3px);
}

/* Responsive */
@media (max-width:900px){
    .about-content{
        flex-direction:column;
        text-align:center;
    }

    .left img{
        width:260px;
        height:260px;
    }

    .card{
        max-width:100%;
    }
}
