.home{
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:75vh;
}

.left{
    margin-left:100px;
    width:50%;
}

h3{
    font-size:20px;
    color:yellow;
}

h1{
    font-size:53px;
    font-weight:bold;
}

h4{
    font-size:35px;
    color:yellowgreen;
    /* font-weight:bold; */
}

p{
    font-size:15px;
    font-weight:bold;
}


img{
    width:350px;
    height:350px;
    border-radius:50%;
    box-shadow:0 20px 30px blue;
    transition:0.5s;
    margin-right:20px;
}

img:hover{
    transform:scale(1.1);
    box-shadow:0 20px 30px white;
    border:1px solid black;
}

.social-media{
    display:flex;
    align-items:center;
    gap:30px;
    margin-top:20px;
}

.social-media li{
    width:50px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid white;
    border-radius:50%;
    cursor:pointer;
    font-size:25px;
    transition:ease-in-out 0.5s;
    box-shadow:0 10px 20px blue;
}

.social-media li:hover{
    transform:scale(1.1);
    box-shadow:0 20px 30px yellowgreen;
}