*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    background-color:#000;
    color:#fff;
}


header{
    padding:30px 40px;
    box-shadow: 0 10px 30px white;
    border-bottom: 2px solid white;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

ul{
    display:flex;
    align-items:center;
    gap:30px;
}

.logo{
    font-size:25px;
    font-weight:bold;
}

a{
    transition:0.5s;
    font-size:15px;
    font-weight:bold;
}

a:hover{
    color:blue;
    transform: scale(1.05);
    font-size:20px;
    font-weight:bold;
}

button{
    padding:10px 17px;
    border:none;
    outline:none;
    border-radius:10px;
    color:#000;
    background-color: #fff;
    font-weight:bold;
    box-shadow:0 10px 10px blue;
    cursor: pointer;
    transition:0.5s;
}

button:hover{
    transform:scale(1.1);
    box-shadow:0 10px 10px yellow;
    border:1px solid black;
}